.new{
font-weight: bold;
}
.list{
list-style: none;
margin-left: -40px;
}
#images{
width: 300px;
height: 200px;
}
.out{
border: 0.5px solid #e3e3e3;
box-shadow: 0 10px 10px 0 rgba(0,0,0,0.2);
padding: 0px 15px 15px 15px;
width: 300px;
}
.in{
border: 0.5px solid #e3e3e3;
padding: 0px 10px 10px 10px;
}
#first{
font-style: italic;
}
body{
font-size: 15px;
}